// Place all the styles related to the matrix controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
	display: inline-block;
}

p {
	display: inline-block;
	margin-right:5px;
	border: solid 1px black;
	border-radius:5px;
}

h1 {
	text-align: center;
}

table {
	border-collapse: separate;
	border-spacing: 0px;
	width: 100%;
}

div.name-pair {
	display: inline-block;
}

td {
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	padding-bottom: 8px;
	text-align: center;
	padding-top: 8px;
	width: 7%;
}

td.below {
	color: #008DFF;
}

td.above {
	color: red;
}

td.regular {
	color: gray;
}

td.today {
	background-color: #CFC;
}

td form {
	visibility: hidden;
}

td:hover form {
	visibility: visible;
}

input[type="submit"] {
	cursor: pointer;
}

.empty-column {
	border: none;
	display: table-column;
	visibility: hidden;
}

.visible{
	visibility: visible;
}

.hidden{
	visibility: hidden;
}

nav ul {
	list-style: none;	
}

nav ul li {
	display: inline-block;
	margin-left: 10px;
	padding: 8px;
}

nav ul li a{
	text-decoration: none;
	color: #208420
}
